@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap%27');

*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    font-family : Poppins;
}

.navbar{
    display : flex;
    padding : 15px 4%;
    align-items : center;
    justify-content : space-between;
    position : fixed;
    width : 100%;
    background : white;
    box-shadow : 0 1px 4px rgba(0, 0, 0, 0.2);
    z-index : 1000;
}

.nav{
    display : flex;
    justify-content : center;
    align-items : center;
    gap : 40px;
    margin-left : auto;
}

.nav a, .login a{
    color : black;
    text-decoration : none;
    font-weight : bold;
}

.nav a:nth-last-child(1){
    color : #2F70FE;
    border : 2px solid #2F70FE;
    padding : 15px 20px;
}

.login{
    padding-left : 50px;
}

.login a{
    margin-left : 5px;
}

.login i{
    font-size : 20px;
}

.mobile-menu{
    display : none;
    position : relative;
    width : 40px;
    height : 40px;
    justify-content : center;
    align-items : center;
}

.mobile-menu input{
    position : absolute;
    top : 0;
    left : 0;
    width : 40px;
    height : 40px;
    cursor : pointer;
    opacity : 0;
}

.mobile-menu i{
    font-size : 40px;
}

.mobile-menu i:nth-child(2), .mobile-menu input:checked~i:nth-child(3){
    display : block;
}

.mobile-menu i:nth-child(3), .mobile-menu input:checked~i:nth-child(2){
    display : none;
}

.mobile-nav{
    display : none;
    position : absolute;
    z-index : 11;
    top : 80px;
    right : 24px;
    position : fixed;
    height : 0;
    text-align : center;
    background : white;
    overflow : hidden;
    border-radius : 0 0 10px 10px;
    list-style : none;
    transition : height .25s;
    transform-origin : top center;
    box-shadow : 1px 1px 4px rgba(0, 0, 0, 0.2);
}

.mobile-nav li a{
    display : inline-block;
    width : 200px;
    padding : 10px 0;
    border-top : 1px solid rgba(0, 0, 0, 0.2);
    text-decoration : none;
    color : black;
    font-weight : bold;
}

.mobile-nav li:nth-child(6) a{
    color : #2F70FE;
}

.mobile-nav li:nth-child(7) i{
    font-size : 20px;
    margin-right : 8px;
}

.navbar:has(.mobile-menu input:checked) + .mobile-nav{
    height : 314px;
}

.first{
    width : 100%;
    height : 100vh;
    background : #2F70FE;
    position : relative;
}

.first .sub{
    position : absolute;
    margin : 250px auto 0;
    width : 555px;
    left : 50%;
    transform : translateX(-50%);
    text-align : center;
}

.first .sub h1{
    color : white;
    font-size : 40px;
    line-height : 60px;
}

.first .sub p{
    color : white;
    letter-spacing : 1px;
    margin-top : 10px;
    font-size : 13px;
    line-height : 30px;
}

.first .sub button{
    background : black;
    color : white;
    padding : 15px 20px;
    font-weight : bold;
    letter-spacing : 1px;
    margin-top : 25px;
    border : none;
}

.first .first-img{
    position : absolute;
    bottom : -90px;
    left : 100px;
    width : 450px;
    height : auto;
    z-index : 3;
}

.first .second-img{
    position : absolute;
    right : 180px;
    bottom : 20px;
    width : 300px;
    height : auto;
    z-index : 3;
}

svg{
    height : 90px;
    position : absolute;
    bottom : -44px;
    z-index : 2;
}

.second{
    background : #E5E5E5;
    width : 100%;
    min-height : 100vh;
    position : relative;
    display : flex;
    justify-content : center;
    align-items : center;
}

.second .frame1{
    position : absolute;
    left : 100px;
    bottom : 40px;
}

.second .frame2{
    position : absolute;
    top : 120px;
    right : 100px;
}

.second .sub{
    text-align : center;
}

.second .sub h1{
    letter-spacing : 2px;
    font-size : 40px;
}

.lsg{
    display : flex;
    gap : 75px;
    margin-top : 100px;
}

.lsg .part{
    width : 220px;
}

.lsg .part img{
    width : 110px;
    height : auto;
    margin-bottom : 40px;
}

.lsg .part p{
    line-height : 30px;
}

.third, .fourth, .fifth, .sixth, .seventh{
    width : 100%;
    min-height : 50vh;
    display : flex;
    justify-content : space-between;
    align-items : center;
    padding : 0 12%;
    background : #00FF8514;
}

.third .text{
    width : 410px;
}

.third .text h2{
    width : 350px;
    font-size : 25px;
    line-height : 40px;
}

.third .text p{
    margin-top : 30px;
    line-height : 30px;
}

.fourth .text{
    width : 400px;
}

.fourth .text h2{
    font-size : 25px;
    width : 340px;
    line-height : 35px;
}

.fourth .text p{
    margin : 25px 0;
    line-height : 25px;
}

.fifth .text{
    width : 350px;
}

.fifth .text h2{
    font-size : 25px;
    width : 330px;
    line-height : 35px;
}

.fifth .text p{
    margin : 25px 0;
    line-height : 25px;
}

.sixth .text{
    width : 390px;
}

.sixth .text h2{
    font-size : 25px;
    width : 330px;
    line-height : 35px;
}

.sixth .text p{
    margin : 25px 0;
    line-height : 25px;
}

.seventh .text{
    width : 360px;
}

.seventh .text h2{
    font-size : 25px;
    width : 320px;
    line-height : 35px;
}

.seventh .text p{
    margin : 25px 0;
    line-height : 25px;
}

.text a{
    text-decoration : none;
    color : #2F70FE;
    font-size : 20px;
}

.footer{
    display : flex;
    flex-direction : column;
    width : 100%;
    min-height : 50vh;
    background : black;
    padding : 55px 15%;
    color : white;
    justify-content : space-between;
}

.footer .top{
    display : flex;
    justify-content : space-between;
}

.top .part ul{
    list-style : none;
}

.top .part ul li{
    margin-bottom : 10px;
    font-size : 13px;
}

.top .part ul li:nth-child(1){
    font-size : 16px;
    margin-bottom : 20px;
    font-weight : bold;
    letter-spacing : 1px;
}

.bottom{
    display : flex;
    font-size : 13px;
    justify-content : space-between;
    padding-right : 20%;
}

@media (max-width : 1205px){
    .navbar{
        padding : 15px 30px;
    }
    .nav{
        gap : 25px;
    }
    .nav a:nth-last-child(1){
        padding : 10px 15px;
    }
    .login{
        padding-left : 35px;
    }
    .first .sub{
        width : 520px;
    }
    .first .sub h1{
        font-size : 35px;
    }
    .first .sub p{
        font-size : 12px;
    }
    .first .sub button{
        letter-spacing : 1px;
        font-size : 12px;
    }
    .first .first-img{
        width : 375px;
        left : 85px;
        bottom : -75px;
    }
    .first .second-img{
        width : 260px;
        right : 160px;
        bottom : 20px;
    }
    .second .frame1{
        left : 50px;
        bottom : 50px;
        width : 100px;
    }
    .second .frame2{
        right : 50px;
        top : 120px;
        width : 100px;
    }
    .second .sub h1{
        font-size : 35px;
    }
    .lsg{
        gap : 60px;
        margin-top : 70px;
    }
    .lsg .part{
        width : 205px;
    }
    .lsg .part img{
        width : 90px;
    }
    .lsg .part p{
        font-size : 15px;
    }
    .third, .fourth, .fifth, .sixth, .seventh{
        padding : 0 7%;
    }
    .footer{
        padding : 55px 8%;
    }
    .footer .bottom{
        padding-right : 21%;
    }
}

@media (max-width : 1055px){
    .navbar{
        padding : 20px 25px;
    }
    .navbar .nav, .navbar .login{
        display : none;
    }
    .navbar .mobile-menu{
        display : flex;
    }
    .mobile-nav{
        display : block;
    }
    .first .sub{
        width : 480px;
    }
    .first .sub h1{
        font-size : 30px;
        letter-spacing : 1px;
        line-height : 50px;
    }
    .first .sub p{
        font-size : 11px;
        line-height : 25px;
    }
    .first .first-img{
        left : 50px;
        width : 350px;
    }
    .first .second-img{
        right : 90px;
        bottom : 25px;
        width : 240px;
    }
    .second .frame1{
        width : 75px;
        left : 40px;
        bottom : 40px;
    }
    .second .frame2{
        width : 75px;
        right : 40px;
        top : 110px;
    }
    .second .sub{
        width : 100%;
    }
    .second .sub h1{
        font-size : 30px;
    }
    .second .sub .lsg{
        justify-content : center;
        flex-wrap : wrap;
        gap : 0;
        margin-top : 40px;
    }
    .second .sub .lsg .part{
        margin : 30px 60px;
        width : 190px;
    }
    .second .sub .lsg .part img{
        width : 75px;
        margin-bottom : 20px;
    }
    .second .sub .lsg .part p{
        font-size : 13px;
    }
}

@media (max-width : 1000px){
    .third img, .fifth img, .seventh img{
        order : 1;
    }
    .third .text, .fifth .text, .seventh .text{
        order : 2;
    }
    .third, .fourth, .fifth, .sixth, .seventh{
        flex-direction : column;
        align-items : flex-start;
        padding : 50px 75px;
    }
    .third .text, .fourth .text, .fifth .text, .sixth .text, .seventh .text, .third .text h2, .fourth .text h2, .fifth .text h2, .sixth .text h2, .seventh .text h2{
        width : 100%;
    }
    .third img, .fourth img, .fifth img, .sixth img, .seventh img{
        max-width : 100%;
    }
    .third .text h2, .fourth .text h2, .fifth .text h2, .sixth .text h2, .seventh .text h2{
        font-size : 22px;
    }
    .third .text p, .fourth .text p, .fifth .text p, .sixth .text p, .seventh .text p{
        font-size : 14px;
        margin : 15px 0;
    }
    .third .text a, .fourth .text a, .fifth .text a, .sixth .text a, .seventh .text a{
        font-size : 18px;
    }
    .footer{
        padding : 10px 40px 40px;
    }
    .footer .top{
        flex-wrap : wrap;
        justify-content : flex-start;
    }
    .footer .top .part{
        margin-top : 30px;
        width : calc(100% / 4);
    }
    .footer .bottom{
        margin-top : 50px;
    }
}

@media (max-width : 840px){
    .footer .top .part{
        width : calc(100% / 3);
    }
    .footer .bottom{
        flex-direction : column;
        padding-right : 0;
        gap : 20px;
    }
}

@media (max-width : 670px){
    .footer .top .part{
        width : calc(100% / 2);
    }
}

@media (max-width : 460px){
    .footer .top .part{
        width : 100%;
    }
}

@media (max-width : 947px){
    .first .sub{
        margin-top : 270px;
    }
    .first .first-img{
        left : calc(50% + 10px);
        transform : translateX(-50%);
        bottom : -45px;
        width : 300px;
    }
    .first .second-img{
        left : 50%;
        transform : translateX(-50%);
        top : 105px;
        width : 180px;
    }
    .second{
        padding-top : 100px;
    }
    .second .frame1, .second .frame2{
        width : 50px;
    }
    .second .sub .lsg{
        margin-top : 30px;
    }
}

@media (max-width : 637px){
    .first .sub{
        width : 100%;
        padding : 0 20px;
    }
    .first .sub h1{
        font-size : 25px;
        line-height : 40px;
    }
    .first .sub p{
        font-size : 9px;
    }
    .first .sub button{
        font-size : 10px;
        margin-top : 15px;
    }
    svg{
        height : 45px;
        top : calc(100% - 23px);
    }
    .second{
        padding : 120px 0 70px;
    }
    .second .frame1{
        left : 25px;
        bottom : 25px;
    }
    .second .frame2{
        right : 25px;
        top : 60px;
    }
}